*~
init.sh
build.sh
.antlr/
archive/
build/
playground/
docs/
.classpath
.project
.settings/
.vscode/
target/
tools/
# Ignore Gradle project-specific cache directory
.gradle
gradle/
gradlew
gradlew.bat

